{% extends "template/template.twig" %}
{% block styles %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/dt-1.10.16/datatables.min.css"/>
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
<link rel="stylesheet" href="{{ base_url }}/css/select2-bootstrap4.min.css">
{% endblock %}
{% block content %}
<div class="ed-container full">
    <div class="ed-item s-100 l-offset-15 l-70">
    <br>
        <h2 class="text-left text-info">Módulo matriculas</h2>
    </div>
    <div class="separator"></div>
    {% if getPermission(modulo_matriculas, auth.user.id) == 3 %}
    <div class="ed-item s-100">
        <button class="btn btn-primary addregister" data-href="{{ path_for('admin.store.register') }}"><i class="icon icon-plus-circle"></i> Agregar matricula</button>  -  <a class="btn btn-success" href="{{ path_for('admin.upload.register') }}"> <i class="icon icon-file-text-o"></i> Cargar archivo</a>
        <br>
        <br>
    </div>
    {% endif %}
    <div class="ed-item s-100">
    <br>
        <table id="tb_register" class="display">
            <thead>
                <tr>
                    <th>A:</th>
                    <th> {{ "curso" | title }}</th>
                    <th> {{ "instancia" | title }}</th>
                    <th> {{ "usuario" | title }}</th>
                    <th> {{ "rol" | title }}</th>
                    <th> {{ "fecha" | title }}</th>
                    <th> {{ "acciones" | title }}</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>
{% endblock %}

{% block modales %}
    {% include "formularios/register.twig" %}
    {% include "formularios/student.twig" %}
{% endblock %}

{% block scripts %}
<script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.16/datatables.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.4/toastr.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>

<script>
var getUri = "http://"+window.location.host;
const instancias = ['Pregado', 'Posgrado', 'FTDH', 'Ruta N', 'Sandbox'];
var _td = null;
var table = $('table').DataTable({
    lengthMenu: [ 25, 50, 75, 100 ],
    language: {
        "lengthMenu": "Mostrar _MENU_ registros por pagina",
        "zeroRecords": "No hay resultados",
        "info": "Pagina _PAGE_ de _PAGES_",
        "infoEmpty": "No registros disponible",
        "infoFiltered": "(Busqueda de _MAX_ total registros)",
        "processing": "Procesando...",
        "search": "Buscar:",
        "loadingRecords": "Cargando...",
        "next" : "Siguiente",
        "paginate": {
            "first":      "Primera",
            "last":       "Ultima",
            "next":       "Siguiente",
            "previous":   "Anterior"
        },
    },
    ajax: {
        url: getUri + '/panel/register/all',
        dataSrc: ''
    },
    columns: [
        { data: 'id' },
        { data: 'curso' },
        { "data": 'instancia',
          "render" : function(data, type, row, meta) {
            return ""+instancias[data - 1]+"";
          }
        },
        { data: 'usuario',
          "render" : function(data, type, row, meta) {
              return '<a data-toggle="tooltip" title="Ver información" href="{{ path_for("admin.students.update", {id : data.id}) }}" data-usuario="'+data+'" class="showUserRegister pointer">'+data+'</a>';
          }
        },
        { data: 'rol' },
        { data: 'fecha' },
        {% if getPermission(modulo_matriculas, auth.user.id) == 3 %}
        { "data": "id",
          "render": function (data, type, row, meta) {
                return '<a data-toggle="tooltip" title="Desmatricular" class="archive_register icon_a chocolate" href="'+getUri+'/panel/register/archive/'+data+'" ><i class="fa fa-folder"></i></a>&nbsp;<a data-toggle="tooltip" title="Eliminar" href="'+getUri+'/panel/register/delete/'+data+'" class="registertEliminar pointer icon_a"><i class="fa fa-trash text-danger"></i></a>&nbsp;<a data-toggle="tooltip" title="Actualizar" href="'+getUri+'/panel/register/show/'+data+'" class="registerShow pointer icon_a" data-href="{{ path_for("admin.update.register", {id : data.id}) }}"><i class="fa fa-pencil green"></i></a>';
                //return '<a>'+data+'<a>';
            }
        }
        {% endif %}
      ]
});
//http://localhost:8080/panel/register/delete/id
//http://localhost:8080/panel/register/show/id
</script>
<script src="{{ base_url }}/js/function.js"></script>
<script src="{{ base_url }}/js/modules/register.js"></script>
{% endblock %}