{% extends "template/template.twig" %}
{% block styles %}
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/dt-1.10.16/datatables.min.css"/>
{% endblock %}
{% block content %}
    {% set n = 1 %}
    <p>Listado de cursos del usuario: {{ student.nombres | lower }} {{ student.apellidos | lower }}</p>
    <p>Documento: {{ student.documento }}</p>
    <p>Telefono: {{ student.telefono }}</p>
    <p>Correo: {{ student.usuario }}</p>
    <table>
        <thead>
            <tr>
                <th>Nro</th>
                <th>Codigo</th>
                <th>Nombre</th>
                <th>Rol</th>
                <th>Instancia</th>
                <th>Programa</th>
                <th>Institución</th>
                <th>Último acceso</th>
            </tr>
        </thead>
        <tbody>
            {% for course in student_data %}
            <tr>
                <td>{{ n }}</td>
                <td>{{ course.course.codigo }}</td>
                <td><a href="{{ path_for("admin.search.program.course.student", { 'id' : course.course.codigo} )}}">{{ course.course.nombre }}</a></td>
                <td>{{ course.rol }}</td>
                <td>{{ getInstance(course.course.codigo) }}</td>
                <td><a href="{{ path_for("admin.search.program.course", { 'id' : course.course.programa} ) }}">{{ course.course.programa }}</a></td>
                <td>{{ getInstitution(course.course.codigo) }}</td>
                <td></td>
                {% set n = n + 1 %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
{% block scripts %}
<script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.16/datatables.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.5.2/js/dataTables.buttons.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.5.2/js/buttons.print.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.5.2/js/buttons.flash.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.5.2/js/buttons.html5.min.js"></script>

<script>
     $('table').DataTable({
        dom: 'Bfrtip',
        buttons : [{
            extend: 'excel',
            title: 'Cursos matriculados de {{ student_name | lower }}',
            text: '<i class="icon icon-file-text-o"></i> Descargar en excel',
            className: 'btn btn-success'
        }],
        lengthMenu: [15, 25, 50, 75, 100 ],
        language: {
            "lengthMenu": "Mostrar _MENU_ registros por pagina",
            "zeroRecords": "No hay resultados",
            "info": "Pagina _PAGE_ de _PAGES_",
            "infoEmpty": "No registros disponible",
            "infoFiltered": "(Busqueda de _MAX_ total registros)",
            "processing": "Procesando...",
            "search": "Buscar:",
            "loadingRecords": "Cargando...",
            "next" : "Siguiente",
            "paginate": {
                "first":      "Primera",
                "last":       "Ultima",
                "next":       "Siguiente",
                "previous":   "Anterior"
            },
        }
     });
</script>
{% endblock %}