{% extends "template/template.twig" %}
{% block styles %}
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/dt-1.10.16/datatables.min.css"/>
{% endblock %}
{% block content %}
{% set n = 1 %}
    <table>
        <thead>
            <tr>
                <th>id</th>
                <th>Nombres</th>
                <th>Usuario</th>
                <th>Tipo</th>
            </tr>
        </thead>
        <tbody>
            {% for student in course %}
            <tr>
                <td>{{ n }}</td>
                <td>{{ student.student.nombres }} {{ student.student.apellidos }}</td>
                <td><a href="/panel/search/program/courses/usuarios/info/{{student.student.id}}">{{ student.student.usuario }}</a></td>
                <td>{{ student.rol }}</td>
            </tr>
            {% set n = n + 1 %}
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
{% block scripts %}
<script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.16/datatables.min.js"></script>

<script>
     $('table').DataTable({
        lengthMenu: [ 25, 50, 75, 100 ],
        language: {
            "lengthMenu": "Mostrar _MENU_ registros por pagina",
            "zeroRecords": "No hay resultados",
            "info": "Pagina _PAGE_ de _PAGES_",
            "infoEmpty": "No registros disponible",
            "infoFiltered": "(Busqueda de _MAX_ total registros)",
            "processing": "Procesando...",
            "search": "Buscar:",
            "loadingRecords": "Cargando...",
            "next" : "Siguiente",
            "paginate": {
                "first":      "Primera",
                "last":       "Ultima",
                "next":       "Siguiente",
                "previous":   "Anterior"
            },
        }
     });
</script>
{% endblock %}