{% extends "template/template.twig" %}
{% block styles %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/dt-1.10.16/datatables.min.css"/>
<link rel="stylesheet" href="{{ base_url}}/css/modules/uploaduser.css">
{% endblock %}
{% block content %}
<div class="ed-container full">
    <div class="ed-item s-100 l-100">
        <h2>Análisis de archivo de carga de matriculas</h2>
        <p>
            Esta aplicación, permitirá analizar un archivo <a download href="{{ path_for('admin.archive.anexo') }}">Anexo 2</a>, para identificar usuarios repetidos o errores en la carga. <br> Descargue el formato Anexo 2 a continuación y una vez diligenciado, adjúntelo haciendo clic en el botón "Seleccionar archivo".
        </p>
        <form action="{{ path_for('admin.upload.register') }}" enctype="multipart/form-data" method="post" id="formFile">
            <input  type="file" name="archive" required  accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel">
            <button class="btn btn-primary">Analizar</button>
        </form>
        <br>
        <p class="none fadein">Registros: <span id="registros"></span> - Correctas: <span id="totalR"></span> - Alertas: <span id="totalA"></span> - Errores: <span id="totalE"></span> - <button class="btn none fadein download_archive btn-info">Descargar</button> - <button data-toggle='tooltip' title='Registrar usuarios correctos' id="cargar" class="btn btn-success" data-action="{{ path_for('admin.register.proccess') }}">Cargar</button></p>
        <br>
        <table id="tableResult" class="fadein">
            <thead>
                <tr>
                    <th> {{ "curso" | title }}</th>
                    <th> {{ "instancia" | title }}</th>
                    <th> {{ "usuario" | title }}</th>
                    <th> {{ "rol" | title }}</th>
                    <th> {{ "fecha" | title }}</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>

</div>
{% endblock %}
{% block scripts %}
<script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.16/datatables.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.4/toastr.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/FileSaver.js/1.3.8/FileSaver.min.js"></script>
<script src="https://unpkg.com/xlsx/dist/xlsx.full.min.js"></script>
    <script src="{{ base_url }}/js/function.js"></script>
<script src="{{ base_url }}/js/modules/upload_register.js"></script>
{% endblock %}