<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>@Monitor</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://file.myfontastic.com/kZG9QvRJMKAn2R8hcARNEH/icons.css" rel="stylesheet">
    <link href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ base_url }}/css/ed-grid.min.css" />
    <link rel="stylesheet" href="{{ base_url }}/css/backg-colors.css" />
    <link rel="stylesheet" href="{{ base_url }}/css/fonts.css" />
    <link rel="stylesheet" href="{{ base_url }}/css/template.css" />
    {% block styles %}{% endblock %}

</head>
<body>
    <header class="bg_azul ed-container full ">
        <div class="ed-item l-20">
            <a href="" class="logo"><img src="http://campusdigital.arrobamedellin.edu.co/campus/monitor/images/template/logo.svg" alt=""></a>
        </div>
        <div class="ed-item l-60 flex">
            <ul class="flex">
                <li><a href="">Inicio</a></li>
                {% if auth.check %}
                <li><a href="">Acceso al sistema de informes</a></li>
                <li><a href="">Panel de control</a></li>
                <li><a href="">Reportes</a></li>
                <li><a href="">Herramientas</a></li>
                <li><a href="{{ path_for('signout') }}">Cerrar sesión</a></li>
                {% endif %}
            </ul>
        </div>
        <div class="ed-item l-20 flex">
            <a href="#" class="btn bg_naranja">ingresar al campus</a>
        </div>

    </header>
    <div class="ed-container full bg_imagen banner_logo flex">
        <img src="http://campusdigital.arrobamedellin.edu.co/campus/monitor/images/template/logo_peq.png" alt="">
    </div>
     {% block content %}{% endblock %}
    <footer>
    </footer>
    {% block modales %}{% endblock %}
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
{% block scripts %}{% endblock %}

</body>
</html>