<div class="modal fade bd-example-modal-lg" id="programCreateModal"tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title"><h3>Formulario de registro</h3></h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div id="message_form"></div>
        <form id="programCreateForm" action="{{ path_for('admin.program.store') }}">
        <div class="ed-container">
          <div class="ed-item s-100 l-100">
            <div class="form-group">
              <label for="nombre">Nombre</label>
              <input name="nombre" type="text" class="form-control" {{ auth.user.id_rol < 5 ? '' : 'readonly' }}>
            </div>
            <label for="institucion">Instancia</label>
              {% if auth.user.id_rol >= 3 %}
                <input name="instance" type="text" class="form-control" {{ auth.user.id_rol < 5 ? '' : 'readonly' }} value="{{ auth.user.institution }}" readonly >
              {% else %}
                <select name="instance" id="instance" class="form-control">
                  {% for instances in instances %}
                  <option value="{{ instances.codigo }}">{{ instances.nombre }}</option>
                  {% endfor %}
                </select>
              {% endif %}
              <label for="institucion">institucion</label>
              {% if auth.user.id_rol >= 3 %}
                <input name="codigo_institucion" type="text" class="form-control" {{ auth.user.id_rol < 5 ? '' : 'readonly' }} value="{{ auth.user.institution }}" readonly >
              {% else %}
                <select name="codigo_institucion" id="codigo_institucion" class="form-control">
                  {% for institucion in instituciones %}
                  <option value="{{ institucion.codigo }}">{{ institucion.nombre }}</option>
                  {% endfor %}
                </select>
              {% endif %}
            <div class="form-group">
              <label for="codigo_program">Codigo</label>
              <input name="codigo_program" type="number" placeholder="0000" class="form-control" {{ auth.user.id_rol < 5 ? '' : 'readonly' }} min="0000" max="9999">
            </div>
            {% if auth.user.id_rol  < 5  %}
              <button type="submit" class="btn btn-primary">Guardar</button>
            {% endif %}
          </div>
        </div>
        </form>
    </div>
  </div>
</div>