<div class="modal fade bd-example-modal-lg" id="userCreateModal"tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title"><h3>Formulario de registro</h3></h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div id="message_form"></div>
        <form id="userCreateForm" action="{{ path_for('admin.students.store') }}">
        <div class="ed-container">
          <div class="ed-item s-100 l-50">
            <div class="form-group">
              <label for="exampleInputEmail1">Usuario</label>
              <input name="usuario" type="text" class="form-control" {{ getPermission(modulo_campus, auth.user.id) == 3 ? '' : 'readonly' }} >
            </div>
            <div class="form-group">
              <label for="exampleInputEmail1">Nombres</label>
              <input name="nombres" type="text" class="form-control" {{ getPermission(modulo_campus, auth.user.id) == 3 ? '' : 'readonly' }}>
            </div>
            <div class="form-group">
              <label for="exampleInputEmail1">Apellidos</label>
              <input name="apellidos" type="text" class="form-control" {{ getPermission(modulo_campus, auth.user.id) == 3 ? '' : 'readonly' }}>
            </div>
            <div class="form-group">
              <label for="exampleInputEmail1">Documento</label>
              <input name="documento" type="number" class="form-control" {{ getPermission(modulo_campus, auth.user.id) == 3 ? '' : 'readonly' }}>
            </div>
            <div class="form-group">
              <label for="institucion">Institucion</label>
              {% if getPermission(modulo_campus, auth.user.id) == 3  %}
                {% if auth.user.id_institucion != "05" %}
                  <input name="institucion" type="text" class="form-control" {{ getPermission(modulo_campus, auth.user.id) == 3 ? '' : 'readonly' }} value="{{ auth.user.institution }}" >
                {% else %}
                  <select name="institucion" id="institucion" class="form-control">
                    <option value="Institución Universitaria Pascual Bravo">Institución Universitaria Pascual Bravo</option>
                    <option value="Institución Universitaria Colegio Mayor de Antioquia">Institución Universitaria Colegio Mayor de Antioquia</option>
                    <option value="Institución Universitaria ITM">Institución Universitaria ITM</option>
                    <option value="RutaN">Ruta N</option>
                    <option value="@Medellín">@Medellín</option>
                  </select>
                {% endif %}
              {% else %}
                <input name="institucion" type="text" class="form-control" {{ getPermission(modulo_campus, auth.user.id) == 3 ? '' : 'readonly' }} value="{{ auth.user.institution }}" >
              {% endif %}
            </div>
            <div class="form-group">
              <label for="genero">Genero</label>
              <select name="genero" id="genero" class="form-control" {{ getPermission(modulo_campus, auth.user.id) == 3 ? '' : 'readonly' }}>
                <option value="F">Femenino</option>
                <option value="M">Masculino</option>
              </select>
            </div>
          </div>
          <div class="ed-item s-100 l-50">
            <div class="form-group">
              <label for="exampleInputEmail1">Pais</label>
              <input name="pais" type="text" class="form-control" {{ getPermission(modulo_campus, auth.user.id) == 3 ? '' : 'readonly' }}>
            </div>
            <div class="form-group">
              <label for="exampleInputEmail1">Departamento</label>
              <input name="departamento" type="text" class="form-control" {{ getPermission(modulo_campus, auth.user.id) == 3 ? '' : 'readonly' }}>
            </div>
            <div class="form-group">
              <label for="exampleInputEmail1">Ciudad</label>
              <input name="ciudad" type="text" class="form-control" {{ getPermission(modulo_campus, auth.user.id) == 3 ? '' : 'readonly' }}>
            </div>
            <div class="form-group">
              <label for="exampleInputEmail1">Telefono</label>
              <input name="telefono" type="text" class="form-control" {{ getPermission(modulo_campus, auth.user.id) == 3 ? '' : 'readonly' }}>
            </div>
            <div class="form-group">
              <label for="exampleInputEmail1">Celular</label>
              <input name="celular" type="number" class="form-control" {{ getPermission(modulo_campus, auth.user.id) == 3 ? '' : 'readonly' }}>
            </div>
            <div class="form-group">
              <label for="exampleInputEmail1">Direccion</label>
              <input name="direccion" type="text" class="form-control" {{ getPermission(modulo_campus, auth.user.id) == 3 ? '' : 'readonly' }}>
            </div>
            {% if getPermission(modulo_campus, auth.user.id) == 3  %}
              <button type="submit" class="btn btn-primary">Guardar</button>
            {% endif %}

          </div>
        </div>
        </form>
    </div>
  </div>
</div>